<section class="background-body pt-25 pb-75">
  <div class="mt-35 px-5" class="table-container">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

      <!-- Image Column -->
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef> Image </th>
        <td mat-cell *matCellDef="let reservation">
          <a routerLink="/apartments/{{reservation.apartmentId}}">
            <img src="{{reservation.apartmentImage}}"  [src]="reservation.apartmentImage | imageUrl: imageType.ApartmentMain" height="80px">
          </a>
        </td>
      </ng-container>

      <!-- Apartment Name Column -->
      <ng-container matColumnDef="apartmentName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Apartment Name </th>
        <td mat-cell *matCellDef="let reservation">
          <a routerLink="/apartments/{{reservation.apartmentId}}" class="text-light">
            {{reservation.apartmentName}}
          </a>
        </td>
      </ng-container>

      <!-- Check-in / Check-out Column -->
      <ng-container matColumnDef="checkIn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Check-in / Check-out </th>
        <td mat-cell *matCellDef="let reservation">
          <p>
            {{reservation.checkIn | date : 'dd. MMM YYYY.'}} - {{reservation.checkOut | date : 'dd. MMM YYYY.'}}
          </p>
        </td>
      </ng-container>

      <!-- Guests Column -->
      <ng-container matColumnDef="totalGuests">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Guests </th>
        <td mat-cell *matCellDef="let reservation">
          <p>{{reservation.totalGuests}}</p>
        </td>
      </ng-container>

      <!-- Payment Method Column -->
      <ng-container matColumnDef="paymentMethod">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment Method </th>
        <td mat-cell *matCellDef="let reservation">
          <p>{{reservation.paymentMethod ?? '/'}}</p>
        </td>
      </ng-container>

      <!-- Total Price Column -->
      <ng-container matColumnDef="totalPrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Price </th>
        <td mat-cell *matCellDef="let reservation">
          <strong>{{reservation.totalPrice}} $</strong>
        </td>
      </ng-container>

      <!-- Cancel Button Column -->
      <ng-container matColumnDef="cancel">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let reservation">
          <button mat-flat-button color="warn" [disabled]="disabledButtons[reservation.bookingId]"
            (click)="cancelBooking(reservation.bookingId)">Cancel</button>
        </td>
      </ng-container>

      <!-- Info Button Column -->
      <ng-container matColumnDef="info">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let reservation">
          <button mat-flat-button color="accent" (click)="showOwnerInfo(reservation)">Info</button>
        </td>
      </ng-container>

      <!-- Header and Footer Rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

       <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Nothing to show...</td>
      </tr>

    </table>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[10,15,20,50]" showFirstLastButtons>
    </mat-paginator>

  </div>
</section>