<app-apartment-dashboard-search [searchedData]="searchedData"></app-apartment-dashboard-search>

<section class="background-body">
  <div class="container">
    <div class="box-content-main">
      @if(currentViewMode == ApartmentViewMode.LIST){
      <app-apartment-dashboard-list class="w-100" [data]="apartmentsData"></app-apartment-dashboard-list>
      }
      @else {
      <app-apartment-dashboard-grid class="w-100" [data]="apartmentsData"></app-apartment-dashboard-grid>
      }
      <!-- FILTER -->
      <app-apartment-dashboard-filter [maxFilterPrice]="maxFilterPrice"
        [minFilterPrice]="minFilterPrice"></app-apartment-dashboard-filter>
    </div>
  </div>
</section>

<!-- AI Agent -->
<app-ai-agent [searchData]="searchedData" *ngIf="searchedData"></app-ai-agent>