<section class="section-box box-banner-home6 box-banner-home5-search background-body">
  <div class="block-banner-home6">
    <div class="container">
      <div class="text-center wow fadeInUp">
        <div class="d-flex justify-content-center"><span class="btn btn-brand-secondary" style="cursor: auto;">
            <img class="mr-10" src="assets/images/earth.svg" alt="Travile">Explore the World</span>
        </div>
        <h2 class="mt-20 mb-20 color-white">Your Gateway to Extraordinary Adventures</h2>
        <h6 class="heading-6-medium color-white mb-30">Pack your bags and let Travila redefine your travel
          experience. Where<br class="d-none d-md-block">every journey is a story waiting to be told</h6>
      </div>
    </div>
  </div>

</section>