<section class="section-box box-banner-home6 box-banner-home5-search background-body">
  <div class="block-banner-home6">
    <div class="container">
      <div class="text-center wow fadeInUp">
        <div class="d-flex justify-content-center"><span class="btn btn-brand-secondary" style="cursor: auto;">
            <img class="mr-10" src="assets/images/earth.svg" alt="Travile">Explore the World</span>
        </div>
        <h2 class="mt-20 mb-20 color-white">Your Gateway to Extraordinary Adventures</h2>
        <h6 class="heading-6-medium color-white mb-30">Pack your bags and let Travila redefine your travel
          experience. Where<br class="d-none d-md-block">every journey is a story waiting to be told</h6>
      </div>
    </div>
  </div>

  <app-home-seach></app-home-seach>

  <app-home-featured-apartments></app-home-featured-apartments>

  <app-popular-destinations></app-popular-destinations>

  <section class="section-box box-subscriber background-body mt-200">
    <div class="container">
      <div class="block-subscriber">
        <div class="subscriber-left"><span class="btn btn-brand-secondary">Join our newsletter</span>
          <h5 class="mt-15 mb-30 neutral-1000">Subscribe to see secret deals prices drop the moment you sign up!</h5>
          <form class="form-subscriber" action="#">
            <input class="form-control" type="text" placeholder="Your Email">
            <input class="btn btn-submit" type="submit" value="Subscribe">
          </form>
          <p class="text-sm-medium neutral-500 mt-15">No ads. No trails. No commitments</p>
        </div>
        <div class="subscriber-right"></div>
      </div>
    </div>
  </section>

</section>