<div class="box-content-full background-body">
  <section class="section-box box-login-page">
    <div class="container ">
      <div class="row justify-content-around pt-100 pb-70">
        <div class="col-sm-5 ">
          <h5 class="neutral-1000 mb-30">Create New Account</h5>
          <div class="box-button-logins">
            <a class="btn btn-login btn-google mr-10" href="#">
              <img src="assets/images/page/profile/google.svg" alt="Travila">
              <span class="text-sm-bold">Sign up with Google</span>
            </a>
            <a class="btn btn-login mr-10" href="#">
              <img src="assets/images/page/profile/facebook.svg" alt="Travila">
            </a>
            <a class="btn btn-login" href="#">
              <img src="assets/images/page/profile/apple.svg" alt="Travila">
            </a>
          </div>
          <div class="form-login">
            <form action="#">
              <div class="form-group">
                <label class="text-sm-medium">Username *</label>
                <input class="form-control username" type="text" placeholder="Email / Username">
              </div>
              <div class="form-group">
                <label class="text-sm-medium">Your email *</label>
                <input class="form-control email" type="text" placeholder="Email / Username">
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="text-sm-medium">Password *</label>
                    <input class="form-control password" type="password" placeholder="***********">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="text-sm-medium">Confirm Password *</label>
                    <input class="form-control password" type="password" placeholder="***********">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="box-remember-forgot">
                  <div class="remeber-me">
                    <div class="text-xs-medium neutral-500">
                      <input class="cb-remember" type="checkbox">I agree to term and conditions
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group mt-45 mb-30">
                <a class="btn btn-black-lg" href="#">Create New Account
                  <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 15L15 8L8 1M15 8L1 8" stroke="" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round">
                    </path>
                  </svg>
                </a>
              </div>
              <p class="text-sm-medium neutral-500">Already have an account
                <a class="neutral-1000 btn-signin" routerLink="/auth">Login Here !</a>
              </p>
            </form>
          </div>
        </div>
        <div class="col-sm-5 text-center text-lg-end">
          <img src="assets/images/page/profile/register.png" alt="Travilla">
        </div>
      </div>
    </div>
  </section>
</div>