<div class="box-content-full background-body">
    <section class="section-box">
        <div class="container">
            <div class="row justify-content-center pt-100 pb-70">
                <div class="col-sm-12 text-center mb-35">
                    <h5 class="neutral-1000">Forgot password</h5>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-12 mx-auto">
                        <form [formGroup]="form">
                            <div class="form-container">
                            @switch (step) {
                                @case('email') {
                                <div class="w-75">
                                    <mat-form-field class="full-width">
                                        <mat-label>Email</mat-label>
                                        <input matInput formControlName="email" placeholder="Enter your email">
                                        @if(form.get('email')?.hasError('required')){
                                        <mat-error>Email is required</mat-error>
                                        }
                                        @if(form.get('email')?.hasError('email')){
                                            <mat-error>Invalid email</mat-error>
                                        }
                                    </mat-form-field>
                                </div>
                                <button mat-raised-button color="primary" (click)="sendEmail()"
                                    [disabled]="form.get('email').invalid || isLoading" class="btn-submit">
                                    <ng-container *ngIf="isLoading"><mat-spinner diameter="20" class="me-2"></mat-spinner>Sending...</ng-container>
                                    <ng-container *ngIf="!isLoading">Send Code</ng-container>
                                </button>
                                }
                                @case('code') {
                                <div>
                                    <mat-form-field class="full-width">
                                        <mat-label>Confirmation code</mat-label>
                                        <input matInput formControlName="code" placeholder="Enter the 6-digit code">
                                        @if(form.get('code')?.hasError('required')){
                                            <mat-error>Confirmation code is required</mat-error>
                                        }
                                           @if(form.get('code')?.hasError('minlength')){
                                              <mat-error>Code must be 6 characters</mat-error>
                                        }
                                           @if(form.get('code')?.hasError('maxlength')){
                                            <mat-error *ngIf="">Code cannot be longer than 6 characters</mat-error>
                                        }
                                        
                                    </mat-form-field>
                                    <button mat-raised-button color="primary" (click)="confirmCode()"
                                        [disabled]="form.get('code').invalid || isLoading"
                                        class="btn-submit full-width">
                                        <ng-container *ngIf="isLoading"><mat-spinner diameter="20" class="me-2"></mat-spinner>Confirming...</ng-container>
                                        <ng-container *ngIf="!isLoading">Confirm</ng-container>
                                    </button>
                                </div>
                                }
                                @case('password') {
                                <div>
                                    <mat-form-field class="full-width">
                                        <mat-label>New Password</mat-label>
                                        <input matInput type="password" formControlName="newPassword"
                                            placeholder="Enter new password">
                                            @if(form.get('newPassword')?.hasError('required')){
                                                <mat-error>Password is required</mat-error>
                                            }
                                            @if(form.get('newPassword')?.hasError('minlength')){
                                                <mat-error>Password must be at least 6 characters</mat-error>
                                            }
                                    </mat-form-field>
                                    <button mat-raised-button color="primary" (click)="renewPassword()"
                                        [disabled]="form.get('newPassword').invalid || isLoading"
                                        class="btn-submit full-width">
                                        <ng-container *ngIf="isLoading"><mat-spinner diameter="20" class="me-2"></mat-spinner>Changing...</ng-container>
                                        <ng-container *ngIf="!isLoading">Change Password</ng-container>
                                    </button>
                                </div>
                                }
                            }

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>