.sidebar-user {
  height: 100vh;
  background-color: var(--bs-button-bg-2) !important;
  color: white;
}

.close-canvas {
  cursor: pointer;
}

.profile-info {
  border: 1px solid var(--bs-color-700);
  border-radius: 5px;
}

.container {
  padding: 0px 30px;
  margin: 20px 0px;
}

.item-quicklinks {
  cursor: pointer;
}

::ng-deep .mat-icon {
  display: inline-block !important;
  vertical-align: middle !important;
  color: rgb(10, 10, 10);
}

.active .item-icon {
  background-color: var(--bs-brand-secondary);
}

.card-author {
  cursor: pointer;
}

.card-author .card-image img {
  width: 48px;
  /* height: 48px; */
  border-radius: 50%;
  display: block;
}