<div class="box-content-full background-body">
  <section class="section-box box-login-page">
    <div class="container">

      <div class="row justify-content-around">
        <div class="col-sm-5">
          <h5 class="neutral-1000 mb-30">Welcome Back! </h5>
          <div class="box-login-form">
            <div class="box-button-logins">
              <a class="btn btn-login btn-google mr-10" href="#">
                <img src="assets/images/page/profile/google.svg" alt="Travila" class="m-0 me-2">
                <span class="text-sm-bold">Sign in with Google</span></a><a class="btn btn-login mr-10" href="#">
                <img src="assets/images/page/profile/facebook.svg" alt="Travila"></a>
              <a class="btn btn-login" href="#">
                <img src="assets/images/page/profile/apple.svg" alt="Travila"></a>
            </div>
            <div>
              <form [formGroup]="form">
                <div class="row">
                  <div class="col-sm-12 mb-3">
                    <mat-form-field class="w-100">
                      <mat-label>Email</mat-label>
                      <input matInput formControlName="email" (keypress)="runValidtor()">
                      @if(form.get('email')?.hasError('required')){
                      <mat-error>Email is required</mat-error>
                      }
                      @else if(form.get('email')?.hasError('email')){
                      <mat-error>Email is not valid format</mat-error>
                      }
                    </mat-form-field>
                  </div>

                  <div class="col-sm-12 mb-2">
                    <mat-form-field class="w-100">
                      <mat-label>Password</mat-label>
                      <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password"
                        autocomplete="off">
                      <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide()">
                        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                      @if(form.get('password').hasError('required')){
                      <mat-error>Password is required</mat-error>
                      }
                    </mat-form-field>
                  </div>
                </div>

                <div class="box-remember-forgot">
                  <div>
                    <div>
                      <!-- <mat-checkbox color="accent">Remember me</mat-checkbox> -->
                      <!-- <input class="cb-remember" type="checkbox">Remember me -->
                    </div>
                  </div>
                  <div class="forgotpass">
                    <a class="text-xs-medium neutral-500" routerLink="/auth/forgot-password">Forgot password?</a>
                  </div>
                </div>
                <div class="form-group mt-45 mb-30">
                  <button [disabled]="form.invalid" class="btn btn-black-lg" (click)="login()">Login
                    <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M8 15L15 8L8 1M15 8L1 8" stroke="" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round">
                      </path>
                    </svg>
                  </button>
                </div>
                <p class="text-sm-medium neutral-500">Don’t have an account?
                  <a class="neutral-1000 btn-signup" routerLink="/auth/register">Register Here !</a>
                </p>
              </form>
            </div>
          </div>
        </div>
        <div class="col-sm-5 text-end"><img src="assets/images/page/profile/img-login.png" alt="Travilla" />
        </div>
      </div>
    </div>
  </section>
</div>