<div class="box-content-full background-body">
  <section class="section-box box-login-page">
    <div class="container">

      <div class="row justify-content-around mt-80">
        <div class="col-sm-5">
          <h5 class="neutral-1000 mb-30">Welcome Back! </h5>
          <div class="box-login-form">
            <div class="box-button-logins">
              <a class="btn btn-login btn-google mr-10" href="#">
                <img src="assets/images/page/profile/google.svg" alt="Travila" class="m-0 me-2">
                <span class="text-sm-bold">Sign in with Google</span></a><a class="btn btn-login mr-10" href="#">
                <img src="assets/images/page/profile/facebook.svg" alt="Travila"></a>
              <a class="btn btn-login" href="#">
                <img src="assets/images/page/profile/apple.svg" alt="Travila"></a>
            </div>
            <div class="form-login">
              <form action="#">
                <div class="form-group">
                  <label class="text-sm-medium">User name</label>
                  <input class="form-control username" type="text" placeholder="Email / Username">
                </div>
                <div class="form-group">
                  <label class="text-sm-medium">Password</label>
                  <input class="form-control password" type="password" placeholder="">
                </div>
                <div class="form-group">
                  <div class="box-remember-forgot">
                    <div class="remeber-me">
                      <div class="text-xs-medium neutral-500">
                        <input class="cb-remember" type="checkbox">Remember me
                      </div>
                    </div>
                    <div class="forgotpass">
                      <a class="text-xs-medium neutral-500" href="#">Forgot password?</a>
                    </div>
                  </div>
                </div>
                <div class="form-group mt-45 mb-30">
                  <a class="btn btn-black-lg">Login
                    <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M8 15L15 8L8 1M15 8L1 8" stroke="" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round">
                      </path>
                    </svg>
                  </a>
                </div>
                <p class="text-sm-medium neutral-500">Don’t have an account?
                  <a class="neutral-1000 btn-signup" routerLink="/auth/register">Register Here !</a>
                </p>
              </form>
            </div>
          </div>
        </div>
        <div class="col-sm-5 text-end"><img class="" src="assets/images/page/profile/img-login.png" alt="Travilla">
        </div>
      </div>
    </div>
  </section>
</div>