<div class="preloader-active none">
  <div class="preloader d-flex align-items-center justify-content-center">
    <div class="preloader-inner position-relative">
      <div class="text-center">
        <div class="spinning-coin-fall"></div>
      </div>
    </div>
  </div>
</div>

<div class="admin-layout">
  <!-- Narrow header -->
  <header class="admin-header">
    <div class="admin-header-content">
      <div class="admin-brand d-flex">
        <img alt="Travila" src="assets/images/template/logo-w.svg">
        <h2>Admin</h2>
      </div>
      <div class="admin-user-info">
        <span>Welcome, {{userName}}</span>
        <span (click)="logout()">Logout</span>
      </div>
    </div>
  </header>

  <div class="admin-body">
    <!-- Left sidebar navigation -->
    <nav class="admin-sidebar">
      <ul class="sidebar-menu">
        <li class="menu-item" *appCan="adminUseCases.AdminDashboard">
          <a routerLink="/admin/dashboard" routerLinkActive="active" class="menu-link">
            <mat-icon>dashboard</mat-icon>
            <span class="menu-text">Dashboard</span>
          </a>
        </li>
        <li class="menu-item">
          <a routerLink="/admin/apartments" routerLinkActive="active" class="menu-link">
            <mat-icon>apartment</mat-icon>
            <span class="menu-text">Apartments</span>
          </a>
        </li>
        <li class="menu-item">
          <a routerLink="/admin/users" routerLinkActive="active" class="menu-link">
            <mat-icon>groups</mat-icon>
            <span class="menu-text">Users</span>
          </a>
        </li>
        <li class="menu-item">
          <a routerLink="/admin/bookings" routerLinkActive="active" class="menu-link">
            <mat-icon>calendar_month</mat-icon>
            <span class="menu-text">Bookings</span>
          </a>
        </li>
        <li class="menu-item">
          <a routerLink="/admin/settings" routerLinkActive="active" class="menu-link">
            <mat-icon>settings</mat-icon>
            <span class="menu-text">Settings</span>
          </a>
        </li>
        <li class="menu-item">
          <a routerLink="/admin/reports" routerLinkActive="active" class="menu-link">
            <mat-icon>bug_report</mat-icon>
            <span class="menu-text">Reports</span>
          </a>
        </li>
      </ul>
    </nav>

    <main class="admin-main">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
