.primary-button-color {
  background-color: #FEFA17 !important;
  color: #000;
}

.primary-button-color:hover {
  background-color: #e6e315 !important;
}

.primary-button-color:active {
  background-color: #cccb13 !important;
}

::ng-deep .mat-mdc-card {
  background-color: #2E2E2E !important;
  color: white !important;
}

::ng-deep .mat-mdc-card-lg-image {
  object-fit: cover !important;
}

.cardSubtitle p {
  font-size: 1rem;
  line-height: 1.7;
  color: #EAEAEA;
}

::ng-deep .delete-btn {
  /* background-color: #A40000 !important; */
  color: #EAEAEA !important;
  width: 100px;
}

::ng-deep .edit-btn {
  /* background-color: var(--bs-neutral-400) !important; */
  color: #EAEAEA !important;
  width: 100px;
}

.cardSubtitle .price {
  font-size: 20px;
  margin-top: 2.2rem;
}

.archivedApartments {
  color: #4c4c4c;
  text-decoration: underline;
}

.city-text {
  font-size: 1.2rem !important;
  color: #EAEAEA;
}

.empty-state {
  height: 40vh;
}