::ng-deep .mat-mdc-tab-group {
  background-color: var(--bs-neutral-100) !important;
}

::ng-deep .mat-mdc-tab .mdc-tab__text-label {
  color: white !important;
}

::ng-deep .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  color: var(--bs-brand-secondary) !important;

}