::ng-deep .mat-mdc-tab-group {
  background-color: var(--bs-neutral-100) !important;
}

::ng-deep .mat-mdc-tab .mdc-tab__text-label {
  color: white !important;
}

::ng-deep .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  color: var(--bs-brand-secondary) !important;

}

::ng-deep .mdc-tab-indicator .mdc-tab-indicator__content {
  transition: none !important;
  width: 100% !important;
}