<section class="section-box box-popular-destinations background-100 mt-0 pt-100">
  <div class="container">
    <div class="row align-items-end">
      <div class="col-lg-6 mb-30 text-center text-lg-start">
        <h2 class="neutral-1000">Popular Destinations</h2>
        <p class="text-xl-medium neutral-500">Favorite destinations based on customer reviews</p>
      </div>
    </div>
    <div class="box-list-populars">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="card-popular hover-up">
            <div class="card-image"> <a href="destination.html"><img src="assets/images/page/homepage1/popular.png"
                  alt="Travila"></a></div>
            <div class="card-info"> <a class="card-title" href="destination.html">Venice</a>
              <div class="card-meta">
                <div class="meta-links"> <a href="#">356 Tours, </a><a href="#">248 Activities</a></div>
                <div class="card-button"> <a href="destination.html">
                    <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5.00011 9.08347L9.08347 5.00011L5.00011 0.916748M9.08347 5.00011L0.916748 5.00011"
                        stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card-popular  hover-up">
            <div class="card-image"> <a href="destination.html"><img src="assets/images/page/homepage1/popular2.png"
                  alt="Travila"></a></div>
            <div class="card-info"> <a class="card-title" href="destination.html">Amsterdam</a>
              <div class="card-meta">
                <div class="meta-links"> <a href="#">356 Tours, </a><a href="#">248 Activities</a></div>
                <div class="card-button"> <a href="destination.html">
                    <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5.00011 9.08347L9.08347 5.00011L5.00011 0.916748M9.08347 5.00011L0.916748 5.00011"
                        stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card-popular  hover-up">
            <div class="card-image"> <a href="destination.html"><img src="assets/images/page/homepage1/popular3.png"
                  alt="Travila"></a></div>
            <div class="card-info"> <a class="card-title" href="destination.html">Budapest</a>
              <div class="card-meta">
                <div class="meta-links"> <a href="#">356 Tours, </a><a href="#">248 Activities</a></div>
                <div class="card-button"> <a href="destination.html">
                    <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5.00011 9.08347L9.08347 5.00011L5.00011 0.916748M9.08347 5.00011L0.916748 5.00011"
                        stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card-popular  hover-up">
            <div class="card-image"> <a href="destination.html"><img src="assets/images/page/homepage1/popular4.png"
                  alt="Travila"></a></div>
            <div class="card-info"> <a class="card-title" href="destination.html">Lisbon</a>
              <div class="card-meta">
                <div class="meta-links"> <a href="#">356 Tours, </a><a href="#">248 Activities</a></div>
                <div class="card-button"> <a href="destination.html">
                    <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5.00011 9.08347L9.08347 5.00011L5.00011 0.916748M9.08347 5.00011L0.916748 5.00011"
                        stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card-popular  hover-up">
            <div class="card-image"> <a href="destination.html"><img src="assets/images/page/homepage1/popular5.png"
                  alt="Travila"></a></div>
            <div class="card-info"> <a class="card-title" href="destination.html">London</a>
              <div class="card-meta">
                <div class="meta-links"> <a href="#">356 Tours, </a><a href="#">248 Activities</a></div>
                <div class="card-button"> <a href="destination.html">
                    <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5.00011 9.08347L9.08347 5.00011L5.00011 0.916748M9.08347 5.00011L0.916748 5.00011"
                        stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card-popular  hover-up">
            <div class="card-image"> <a href="destination.html"><img src="assets/images/page/homepage1/popular6.png"
                  alt="Travila"></a></div>
            <div class="card-info"> <a class="card-title" href="destination.html">Ottawa</a>
              <div class="card-meta">
                <div class="meta-links"> <a href="#">356 Tours, </a><a href="#">248 Activities</a></div>
                <div class="card-button"> <a href="destination.html">
                    <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5.00011 9.08347L9.08347 5.00011L5.00011 0.916748M9.08347 5.00011L0.916748 5.00011"
                        stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card-popular  hover-up">
            <div class="card-image"> <a href="destination.html"><img src="assets/images/page/homepage1/popular7.png"
                  alt="Travila"></a></div>
            <div class="card-info"> <a class="card-title" href="destination.html">Paris</a>
              <div class="card-meta">
                <div class="meta-links"> <a href="#">356 Tours, </a><a href="#">248 Activities</a></div>
                <div class="card-button"> <a href="destination.html">
                    <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5.00011 9.08347L9.08347 5.00011L5.00011 0.916748M9.08347 5.00011L0.916748 5.00011"
                        stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card-popular  hover-up">
            <div class="card-image"> <a href="destination.html"><img src="assets/images/page/homepage1/popular7.png"
                  alt="Travila"></a></div>
            <div class="card-info"> <a class="card-title" href="destination.html">Paris</a>
              <div class="card-meta">
                <div class="meta-links"> <a href="#">356 Tours, </a><a href="#">248 Activities</a></div>
                <div class="card-button"> <a href="destination.html">
                    <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5.00011 9.08347L9.08347 5.00011L5.00011 0.916748M9.08347 5.00011L0.916748 5.00011"
                        stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>