::ng-deep .box-search-advance {
  position: static;
  margin-bottom: 20px;
}

.apartment-dashboard-search {
  /* background-image: url("../../../../../assets/images/page/tour/banner5.png"); */
  height: 30vh;
  padding-top: 20px;
  background-color: var(--bs-neutral-100) !important;
}