.endtime {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.wish {
  cursor: pointer;
}

.apartmentNotAvailable {
  border: 2px solid #ff000087;
}

.truncate-text {
  display: inline-block;
  max-width: 200px; /* adjust to fit your design */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
}