<mat-stepper [linear]="false" #stepper class="background-body ">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup" class="container mt-35">
      <ng-template matStepLabel class="text-light">Booking data</ng-template>
      <div class="booking-form-first background-body">
        <div>
        <mat-form-field>
        <mat-label>Country/City</mat-label>
        <input matInput formControlName="countryCity">
      </mat-form-field>
        <mat-form-field>
            <mat-label>Total price($)</mat-label>
            <input matInput formControlName="price">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Total guests</mat-label>
            <input matInput formControlName="totalGuests">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
            <mat-label>Total nights</mat-label>
            <input matInput formControlName="totalNights">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Check In</mat-label>
            <input matInput formControlName="checkIn">
        </mat-form-field>
          <mat-form-field>
            <mat-label>Check Out</mat-label>
            <input matInput formControlName="checkOut">
        </mat-form-field>
      </div>
      </div>
        
        <div class="first-form-buttons">
            <button matButton matStepperNext>Next</button>
        </div>
  
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Apartment data">
    <form [formGroup]="secondFormGroup">
      <mat-form-field>
        <mat-label>Apartment Name</mat-label>
        <input matInput formControlName="apartmentName">
      </mat-form-field>
     <mat-form-field>
        <mat-label>Apartment Type</mat-label>
        <input matInput formControlName="type">
      </mat-form-field>
        <mat-form-field>
        <mat-label>Features</mat-label>
        <input matInput formControlName="features">
      </mat-form-field>
        <mat-form-field>
        <mat-label>Total rooms</mat-label>
        <input matInput formControlName="totalRooms">
      </mat-form-field>
        <mat-form-field>
        <mat-label>Price per night</mat-label>
        <input matInput formControlName="pricePerNight">
      </mat-form-field>
         <mat-form-field>
        <mat-label>Total bookings</mat-label>
        <input matInput formControlName="totalBookings">
      </mat-form-field>
      <div>
        <button matButton matStepperPrevious>Back</button>
        <button matButton matStepperNext>Next</button>
      </div>
    </form>

    <app-map [coordinates]="selectedCoordinates" [onlyViewMap]="true"></app-map>
    <a [routerLink]="'/apartments/'+apartmentId" target="_blank" rel="noopener">Take a look</a>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button matButton matStepperPrevious>Back</button>
      <button matButton (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>