.container-footer {
  padding: 42px 60px 0px 60px;
}

.footer-1 {
  width: 30%;
}

.footer-2,
.footer-3,
.footer-4,
.footer-5 {
  width: 17.5%;
}

.footer {
  background-color: var(--bs-background-1000);
  padding: 40px 0 0 0;
}

.footer .phone-support {
  color: var(--bs-warning);
}

.footer h6 {
  color: var(--bs-color-white);
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.footer .menu-footer {
  display: inline-block;
}

.footer .menu-footer li {
  list-style: none;
  margin-bottom: 18px;
}

.footer .menu-footer li a {
  color: var(--bs-neutral-400);
  font-size: 16px;
  text-decoration: none;
  transition-duration: 0.2s;
  line-height: 26px;
}

.footer .menu-footer li a:hover {
  color: var(--bs-neutral-0);
  transition-duration: 0.2s;
}

.footer .menu-bottom-footer {
  display: inline-block;
  width: 100%;
}

.footer .menu-bottom-footer li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

.footer .menu-bottom-footer li a {
  color: var(--bs-neutral-0);
  font-size: 14px;
  text-decoration: none;
  transition-duration: 0.2s;
}

.footer .footer-bottom {
  padding: 30px 0 10px 0;
  color: var(--bs-neutral-700);
  font-size: 14px;
  border-top: 1px solid rgba(87, 86, 86, 0.49);
}

.footer .footer-bottom strong {
  color: var(--bs-brand-1);
  font-weight: bold;
}

.footer .footer-bottom a {
  text-decoration: none;
}

.footer.footer-type-3 {
  background-color: var(--bs-neutral-0);
  background-position: bottom center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 170px;
}

.footer.footer-white {
  position: relative;
}

.footer.footer-white .form-newsletter .form-control {
  background-color: var(--bs-neutral-0);
}

.footer.footer-white .footer-bottom {
  border-top-color: rgba(87, 86, 86, 0.49);
}

.footer.footer-white a.icon-socials {
  background-color: var(--bs-neutral-0);
  border: 1px solid var(--bs-neutral-600);
}

.footer.footer-white a.icon-socials svg {
  fill: var(--bs-neutral-1000);
}

.footer.footer-white a.icon-socials:hover svg {
  fill: var(--bs-brand-secondary);
}

.footer.footer-type-6 {
  padding-top: 82px;
}

.footer.footer-type-6 .footer-bottom {
  border-top: 0;
  margin-top: 15px !important;
}

.footer.footer-type-6 .box-info-support .phone-support {
  color: var(--bs-neutral-0);
}

.box-footer-col-3 {
  display: flex;
  align-items: center;
  border: 1px solid #313131;
  border-radius: 32px;
  margin-top: 25px;
}

.box-footer-col-3 .footer-col-1,
.box-footer-col-3 .footer-col-2,
.box-footer-col-3 .footer-col-3 {
  width: 33.33%;
  padding: 45px;
  position: relative;
}

.box-footer-col-3 .footer-col-1::before,
.box-footer-col-3 .footer-col-2::before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -3px;
  width: 1px;
  z-index: 12;
  right: 0;
  border-right: 1px solid #313131;
}

.dark .form-newsletter .form-control {
  background-color: var(--bs-neutral-1000) !important;
  border-color: #313131;
}

.box-info-contact p {
  margin-bottom: 19px;
}

.footer-top {
  border-bottom: 1px solid rgba(87, 86, 86, 0.49);
  padding-bottom: 35px;
  margin-bottom: 49px;
}

.bg-footer {
  height: 130px;
  width: 100%;
  background-color: var(--bs-background-body);
  background-size: contain;
  padding-top: 0;
}