@use '@angular/material' as mat;

@include mat.elevation-classes();
@include mat.app-background();

$custom-primary-palette: (
  50: #fffdcc,   
  100: #fffc99,  
  200: #fff966,  
  300: #fff733, 
  400: #fef81a,  
  500: #FEFA17,  
  600: #e0db14, 
  700: #b3ae10,  
  800: #86810c, 
  900: #5a5608,  
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #000,
    600: #000,
  )
);

$custom-neutral-palette: (
  50: #F2F4F6,   // Very light neutral
  100: #E4E6E8,  // Light neutral
  200: #D6D7D8,  // Lighter neutral
  300: #B8BABC,  // Intermediate light (added to smooth gradation)
  400: #8E8E8E,  // Medium-light neutral
  500: #737373,  // Neutral (main color)
  600: #575756,  // Darker neutral
  700: #4D4D4D,  // Dark neutral
  800: #454545,  // Darker neutral
  900: #313131,  // Very dark neutral
  contrast: (
    50: #000000,  // Black contrast for lighter shades
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,  // White contrast for medium to darker shades
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  )
);

$travila-front-primary: mat.m2-define-palette($custom-primary-palette);
$travila-front-accent: mat.m2-define-palette($custom-neutral-palette);

$travila-front-warn: mat.m2-define-palette(mat.$m2-red-palette);


$travila-front-theme: mat.m2-define-light-theme((
  color: (
    primary: $travila-front-primary,
    accent: $travila-front-accent,
    warn: $travila-front-warn
  ),
  typography: mat.m2-define-typography-config(),
  density: 0
));


 @include mat.all-component-themes($travila-front-theme);

