@if(apartment){
<main class="main">
  <section class="box-section box-breadcrumb background-body">
    <div class="container">
      <ul class="breadcrumbs">
        <li> <a routerLink="/home">Home</a><span class="arrow-right">
            <svg width="7" height="12" viewbox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 11L6 6L1 1" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
              </path>
            </svg></span></li>
        <li> <a routerLink="/apartments">Apartments</a><span class="arrow-right">
            <svg width="7" height="12" viewbox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 11L6 6L1 1" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
              </path>
            </svg></span></li>
        <li> <span class="text-breadcrumb">{{apartment.name}}</span></li>
      </ul>
    </div>
  </section>
  <app-apartment-view-images [images]="images"></app-apartment-view-images>
  <section class="box-section box-content-tour-detail background-body">
    <div class="container">
      <div class="tour-header">
        <div class="tour-rate">
          <div class="rate-element"><span class="rating">4.96
              <span class="text-sm-medium neutral-500">(672 reviews)</span>
            </span>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <div class="tour-title-main">
            <h4 class="neutral-1000">{{apartment.name}}</h4>
          </div>
          @if (apartment?.userCanBook && !openedFromBooking) {
            <div>
            <button class="btn btn-default btn-filter" (click)="redirectToBooking()" [disabled]="!apartment.isAvailable">Book now</button>
          </div>
          }
          
        </div>
        <div class="tour-metas">
          <div class="tour-meta-left">
            <p class="text-md-medium neutral-500 mr-20 tour-location">
              <svg width="12" height="16" viewbox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M5.99967 0C2.80452 0 0.205078 2.59944 0.205078 5.79456C0.205078 9.75981 5.39067 15.581 5.61145 15.8269C5.81883 16.0579 6.18089 16.0575 6.38789 15.8269C6.60867 15.581 11.7943 9.75981 11.7943 5.79456C11.7942 2.59944 9.1948 0 5.99967 0ZM5.99967 8.70997C4.39211 8.70997 3.0843 7.40212 3.0843 5.79456C3.0843 4.187 4.39214 2.87919 5.99967 2.87919C7.6072 2.87919 8.91502 4.18703 8.91502 5.79459C8.91502 7.40216 7.6072 8.70997 5.99967 8.70997Z"
                  fill=""></path>
              </svg>{{apartment.country}}, {{apartment.city}}
            </p><a class="text-md-medium neutral-1000 mr-30" href="#">Show on map</a>
          </div>
          <div class="tour-meta-right">
            <a class="btn btn-share" href="#">
              <svg width="16" height="18" viewbox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M13 11.5332C12.012 11.5332 11.1413 12.0193 10.5944 12.7584L5.86633 10.3374C5.94483 10.0698 6 9.79249 6 9.49989C6 9.10302 5.91863 8.72572 5.77807 8.37869L10.7262 5.40109C11.2769 6.04735 12.0863 6.46655 13 6.46655C14.6543 6.46655 16 5.12085 16 3.46655C16 1.81225 14.6543 0.466553 13 0.466553C11.3457 0.466553 10 1.81225 10 3.46655C10 3.84779 10.0785 4.20942 10.2087 4.54515L5.24583 7.53149C4.69563 6.90442 3.8979 6.49989 3 6.49989C1.3457 6.49989 0 7.84559 0 9.49989C0 11.1542 1.3457 12.4999 3 12.4999C4.00433 12.4999 4.8897 11.9996 5.4345 11.2397L10.147 13.6529C10.0602 13.9331 10 14.2249 10 14.5332C10 16.1875 11.3457 17.5332 13 17.5332C14.6543 17.5332 16 16.1875 16 14.5332C16 12.8789 14.6543 11.5332 13 11.5332Z"
                  fill=""></path>
              </svg>
              Share
            </a>
            @if(apartment?.userCanBook){
            <a class="btn btn-wishlish" href="#">
              <svg width="20" height="18" viewbox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M2.2222 2.3638C4.34203 0.243977 7.65342 0.0419426 10.0004 1.7577C12.3473 0.0419426 15.6587 0.243977 17.7786 2.3638C20.1217 4.70695 20.1217 8.50594 17.7786 10.8491L12.1217 16.5059C10.9501 17.6775 9.05063 17.6775 7.87906 16.5059L2.2222 10.8491C-0.120943 8.50594 -0.120943 4.70695 2.2222 2.3638Z"
                  fill=""></path>
              </svg>
              Wishlish</a>
            }

          </div>
        </div>
      </div>
      <div class="row mt-30">
        <div class="col-lg-12">
          <div class="box-info-tour">
            <div class="tour-info-group">
              <div class="icon-item">
                <mat-icon>payments</mat-icon>
              </div>
              <div class="info-item">
                <p class="text-sm-medium neutral-600">Price (per night)</p>
                <p class="text-lg-bold neutral-1000">${{apartment.pricePerNight}}</p>
              </div>
            </div>
            <div class="tour-info-group">
              <div class="icon-item">
                <mat-icon>group</mat-icon>
              </div>
              <div class="info-item">
                <p class="text-sm-medium neutral-600">Max guests</p>
                <p class="text-lg-bold neutral-1000">{{apartment.maxGuests}}</p>
              </div>
            </div>
            <div class="tour-info-group">
              <div class="icon-item">
                <mat-icon>apartment</mat-icon>
              </div>
              <div class="info-item">
                <p class="text-sm-medium neutral-600">Apartment Type</p>
                <p class="text-lg-bold neutral-1000">{{apartment.apartmentType}}</p>
              </div>
            </div>
            <div class="tour-info-group">
              <div class="icon-item">
                <mat-icon>query_stats</mat-icon>
              </div>
              <div class="info-item">
                <p class="text-sm-medium neutral-600">Total bookings(!!!)</p>
                <p class="text-lg-bold neutral-1000">51</p>
              </div>
            </div>
          </div>
          <!-- Overview -->
          <mat-accordion>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header class="accordionHeader">
                <h6>Overview</h6>
              </mat-expansion-panel-header>
              <div class="html-content" [innerHTML]="apartment.description"></div>
            </mat-expansion-panel>
          </mat-accordion>

          <!-- Included -->
          <mat-accordion>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header class="accordionHeader">
                <h6 class="text-light">What this place offers</h6>
              </mat-expansion-panel-header>
              <div class="row">
                <div class="col-lg-3">
                  <ul class="featuresList">
                    @for(feature of featuresFirstColum; track feature){
                    <li>{{feature.name}}</li>
                    }
                  </ul>
                </div>
                <div class="col-lg-3">
                  <ul class="featuresList">
                    @for(feature of featuresSecondColum; track feature){
                    <li>{{feature.name}}</li>
                    }
                  </ul>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>

          <!-- Map -->
          <mat-accordion>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header class="accordionHeader">
                <h6>Map</h6>
              </mat-expansion-panel-header>
                <div class="pb-35">
                  <app-map [onlyViewMap]="true" [coordinates]="selectedCoordinates"></app-map>
                </div>
            </mat-expansion-panel>
          </mat-accordion>



          <!-- QA -->
          <!-- <mat-accordion>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header class="accordionHeader">
                <h6>Question & Answers ?????</h6>
              </mat-expansion-panel-header>
              <p>{{apartment.description}}</p>
            </mat-expansion-panel>
          </mat-accordion> -->


          <div>
            <div class="group-collapse-expand">
              <h6 class="text-light mb-10">Rate & Reviews</h6>
              <div class="collapse show" id="collapseReviews">
                <div class="card card-body">
                  <div class="head-reviews">
                    <div class="review-left">
                      <div class="review-info-inner">
                        <h6 class="neutral-1000">4.95 / 5</h6>
                        <p class="text-sm-medium neutral-400">(672 reviews)</p>
                        <div class="review-rate">
                          <img src="assets/images/page/tour-detail/star.svg" alt="Travila">
                          <img src="assets/images/page/tour-detail/star.svg" alt="Travila">
                          <img src="assets/images/page/tour-detail/star.svg" alt="Travila">
                          <img src="assets/images/page/tour-detail/star.svg" alt="Travila">
                          <img src="assets/images/page/tour-detail/star.svg" alt="Travila">
                        </div>
                      </div>
                    </div>
                    <div class="review-right">
                      <div class="review-progress">
                        <div class="item-review-progress">
                          <div class="text-rv-progress">
                            <p class="text-sm-bold">Price</p>
                          </div>
                          <div class="bar-rv-progress">
                            <div class="progress">
                              <div class="progress-bar" style="width: 90%"> </div>
                            </div>
                          </div>
                          <div class="text-avarage">
                            <p>4.8/5</p>
                          </div>
                        </div>
                        <div class="item-review-progress">
                          <div class="text-rv-progress">
                            <p class="text-sm-bold">Service</p>
                          </div>
                          <div class="bar-rv-progress">
                            <div class="progress">
                              <div class="progress-bar" style="width: 90%"> </div>
                            </div>
                          </div>
                          <div class="text-avarage">
                            <p>4.2/5</p>
                          </div>
                        </div>
                        <div class="item-review-progress">
                          <div class="text-rv-progress">
                            <p class="text-sm-bold">Safety</p>
                          </div>
                          <div class="bar-rv-progress">
                            <div class="progress">
                              <div class="progress-bar" style="width: 95%"> </div>
                            </div>
                          </div>
                          <div class="text-avarage">
                            <p>4.9/5</p>
                          </div>
                        </div>
                        <div class="item-review-progress">
                          <div class="text-rv-progress">
                            <p class="text-sm-bold">Entertainment</p>
                          </div>
                          <div class="bar-rv-progress">
                            <div class="progress">
                              <div class="progress-bar" style="width: 85%"> </div>
                            </div>
                          </div>
                          <div class="text-avarage">
                            <p>4.7/5</p>
                          </div>
                        </div>
                        <div class="item-review-progress">
                          <div class="text-rv-progress">
                            <p class="text-sm-bold">Accessibility</p>
                          </div>
                          <div class="bar-rv-progress">
                            <div class="progress">
                              <div class="progress-bar" style="width: 100%"> </div>
                            </div>
                          </div>
                          <div class="text-avarage">
                            <p>5/5</p>
                          </div>
                        </div>
                        <div class="item-review-progress">
                          <div class="text-rv-progress">
                            <p class="text-sm-bold">Support</p>
                          </div>
                          <div class="bar-rv-progress">
                            <div class="progress">
                              <div class="progress-bar" style="width: 100%"></div>
                            </div>
                          </div>
                          <div class="text-avarage">
                            <p>5/5</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="list-reviews">
                    <div class="item-review">
                      <div class="head-review">
                        <div class="author-review"> <img src="assets/images/page/tour-detail/avatar.png" alt="Travila">
                          <div class="author-info">
                            <p class="text-lg-bold">Sarah Johnson</p>
                            <p class="text-sm-medium neutral-500">December 4, 2024 at 3:12 pm</p>
                          </div>
                        </div>
                        <div class="rate-review"> <img src="assets/images/page/tour-detail/star-big.svg"
                            alt="Travila"><img src="assets/images/page/tour-detail/star-big.svg" alt="Travila"><img
                            src="assets/images/page/tour-detail/star-big.svg" alt="Travila"><img
                            src="assets/images/page/tour-detail/star-big.svg" alt="Travila"><img
                            src="assets/images/page/tour-detail/star-big.svg" alt="Travila"></div>
                      </div>
                      <div class="content-review">
                        <p class="text-sm-medium neutral-800">The views from The High Roller were absolutely stunning!
                          It's a fantastic way to see the Strip and the surrounding area. The cabins are spacious and
                          comfortable, and the audio commentary adds an extra layer of enjoyment. Highly recommend!</p>
                      </div>
                    </div>
                    <div class="item-review">
                      <div class="head-review">
                        <div class="author-review"> <img src="assets/images/page/tour-detail/avatar.png" alt="Travila">
                          <div class="author-info">
                            <p class="text-lg-bold">Sarah Johnson</p>
                            <p class="text-sm-medium neutral-500">December 4, 2024 at 3:12 pm</p>
                          </div>
                        </div>
                        <div class="rate-review"> <img src="assets/images/page/tour-detail/star-big.svg"
                            alt="Travila"><img src="assets/images/page/tour-detail/star-big.svg" alt="Travila"><img
                            src="assets/images/page/tour-detail/star-big.svg" alt="Travila"><img
                            src="assets/images/page/tour-detail/star-big.svg" alt="Travila"><img
                            src="assets/images/page/tour-detail/star-big.svg" alt="Travila"></div>
                      </div>
                      <div class="content-review">
                        <p class="text-sm-medium neutral-800">The views from The High Roller were absolutely stunning!
                          It's a fantastic way to see the Strip and the surrounding area. The cabins are spacious and
                          comfortable, and the audio commentary adds an extra layer of enjoyment. Highly recommend!</p>
                      </div>
                    </div>
                    <div class="item-review">
                      <div class="head-review">
                        <div class="author-review"> <img src="assets/images/page/tour-detail/avatar.png" alt="Travila">
                          <div class="author-info">
                            <p class="text-lg-bold">Sarah Johnson</p>
                            <p class="text-sm-medium neutral-500">December 4, 2024 at 3:12 pm</p>
                          </div>
                        </div>
                        <div class="rate-review"> <img src="assets/images/page/tour-detail/star-big.svg"
                            alt="Travila"><img src="assets/images/page/tour-detail/star-big.svg" alt="Travila"><img
                            src="assets/images/page/tour-detail/star-big.svg" alt="Travila"><img
                            src="assets/images/page/tour-detail/star-big.svg" alt="Travila"><img
                            src="assets/images/page/tour-detail/star-big.svg" alt="Travila"></div>
                      </div>
                      <div class="content-review">
                        <p class="text-sm-medium neutral-800">The views from The High Roller were absolutely stunning!
                          It's a fantastic way to see the Strip and the surrounding area. The cabins are spacious and
                          comfortable, and the audio commentary adds an extra layer of enjoyment. Highly recommend!</p>
                      </div>
                    </div>
                  </div>
                  <app-paginator [data]="TMPPaginatorData"></app-paginator>
                </div>
              </div>
            </div>
            @if(apartment?.userCanBook && !openedFromBooking){
            <app-apartment-add-review></app-apartment-add-review>
            }
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
}