.btn.btn-filter {
  padding: 11px 30px;
  background-color: var(--bs-brand-secondary);
}

.btn.btn-filter:hover {
  background-color: var(--bs-border-color);
  color: var(--bs-neutral-1000);
}

.tour-metas {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 25px;
}

.tour-metas .tour-meta-left {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.tour-metas .tour-meta-left a {
  text-decoration: underline;
  font-weight: 700;
}

.tour-metas .tour-meta-right {
  min-width: 230px;
  margin-bottom: 15px;
}

.box-info-tour .tour-info-group {
  width: 25%;
  display: flex;
  align-items: center;
}

.box-info-tour .tour-info-group .icon-item {
  height: 45px;
  width: 45px;
  border: 1px solid var(--bs-border-color);
  background-color: var(--bs-background-2);
  text-align: center;
  line-height: 55px;
  margin-right: 13px;
  border-radius: 8px;
}

::ng-deep .box-info-tour .tour-info-group .icon-item .mat-icon {
  color: var(--bs-neutral-1000) !important;
}

::ng-deep .mat-expansion-panel {
  /* background-color: transparent !important;
  border: 1px solid var(--bs-neutral-200) !important; */
  color: white !important;

  background-color: var(--bs-background-card) !important;
  border: 1px solid var(--bs-border-color) !important;
}

::ng-deep .mat-accordion .mat-expansion-panel {
  border-radius: 8px !important;
  margin-bottom: 10px !important;
}

::ng-deep .accordionHeader>.mat-expansion-indicator:after {
  color: white;
}

.btn.btn-wishlish svg {
  margin-right: 6px;
  stroke: #f2f2f2;
}

.btn.btn-wishlish svg:hover {
  fill: var(--bs-warning);
  stroke: var(--bs-warning);
}

.featuresList {
  list-style: inside;
}

::ng-deep .tour-metas[_ngcontent-ng-c3537567385] .tour-meta-right[_ngcontent-ng-c3537567385] {
  min-width: 0px !important;
}

/* ::ng-deep .mat-expansion-panel-body .html-content {
  padding: 0 24px 16px;
} */

::ng-deep .mat-expansion-panel-body .html-content ol,
::ng-deep .mat-expansion-panel-body .html-content ul {
  padding-left: 16px;
  /* margin: 0; */
}

ol,
ul {
  list-style: none;
}
